<a href="https://colab.research.google.com/github/naseemkp07/python-problem-solving/blob/main/Assignment__in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**. 1. Python program to swap the values of two variables
without using a temporary variable**

In [ ]:
# Python code to swap two numbers
# without using another variable


sonu = 5
naseem = 7

print ("Before swapping: ")
print("Value of sonu : ", sonu, " and naseem : ", naseem)

# code to swap 'sonu' and 'naseem'
sonu, naseem = naseem, sonu

print ("After swapping: ")
print("Value of sonu : ", sonu, " and naseem : ", naseem)

Before swapping:
Value of sonu :  5  and naseem :  7
After swapping:
Value of sonu :  7  and naseem :  5

* 2.  Area of a circle given its radius. Take the radius
as input from the user.

________________________________________________________________________________


1. The first line from math import pi imports the pi constant from the math module, which is the mathematical constant. It represents the ratio of a circle's circumference to its diameter (approximately equal to 3.14).
2. The second line r = float(input ("Input the radius of the circle : ")) gets the radius of the circle from the user using the input() function. input() function assigns it to the variable r, it's then cast to float, so the user can input decimal number also.
3. The third line print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2)) uses the formula to calculate the area of the circle (pi*r**2) . Then it concatenates the string and the value of the radius and area using the + operator and prints the final string.

In [ ]:
# Import the 'pi' constant from the 'math' module to calculate the area of a circle
from math import pi

# Prompt the user to input the radius of the circle
r = float(input("Input the radius of the circle : "))

# Calculate the area of the circle using the formula: area = Ï€ * r^2
area = pi * r ** 2

# Display the result, including the radius and calculated area
print("The area of the circle with radius " + str(r) + " is: " + str(area))

The area of the circle with radius 5.0 is: 78.53981633974483

3. Python program to check if a number is even or odd

In [ ]:
# Python program to check if the input number is odd or even.
# A number is even if division by 2 gives a remainder of 0.
# If the remainder is 1, it is an odd number.

num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

 **3.  factorial of a number using a loop**

In the above approach, the factorial program takes input from the user as an integer and assigns it to the variable n. It then initializes the variable factorial to 1. If n is greater than or equal to 1, it enters a for loop that iterates from 1 to n (inclusive) and multiplies factorial by each value of i in the loop

In [ ]:
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
    for i in range (1, n+1):
        factorial=factorial *i
print("Factorial of the given number is: ", factorial)

Enter a number: 30
Factorial of the given number is:  265252859812191058636308480000000

In [ ]:
celsius = float(input("Enter temperature\
in celsius: "))

fahrenheit = (celsius * 1.8) + 32

print(str(celsius )+ " degree Celsius\
is equal to " + str(fahrenheit )+
	" degree Fahrenheit.")

Enter temperaturein celsius: 40
40.0 degree Celsiusis equal to 104.0 degree Fahrenheit.

# Lists and Slicing:

** 1.Python program to print
the even numbers from the list.**

In [ ]:
# Python program to print Even Numbers in a List

# list of numbers
list1 = [10, 21, 4, 45, 66, 93,78,55,80,111]

# iterating each number in list
for num in list1:

	# checking condition
	if num % 2 == 0:
		print(num, end=" ")

10 4 66 78 80

**2.  count how many
strings have a length of 5 or more characters**

In [ ]:

import string

# initializing string
test_str = 'failure is the path to success '

# printing original string
print("The original string is : " + str(test_str))

# ascii_lowercase and ascii_uppercase
# to check for Alphabets
res = len([ele for ele in test_str if ele in string.ascii_uppercase or ele in string.ascii_lowercase])

# printing result
print("Count of Alphabets : " + str(res))

The original string is : failure is the path to success
Count of Alphabets : 25

**3. Slice a given list to print only the first and last three
elements.**

In [ ]:
# initializing list
test_list = [1, 25, 4, 9, 10,77]

# printing original list
print("The original list is : " + str(test_list))

# using list comprehension
# to get first and last element of list
res = [test_list[i] for i in (0, -1)]

# printing result
print("The first and last element of list are : " + str(res))

The original list is : [1, 25, 4, 9, 10, 77]
The first and last element of list are : [1, 77]

**4. Reverse a list without using the reverse() method.**

In [ ]:


# Reversing a list using slicing technique
def Reverse(lst):
   new_lst = lst[::-1]
   return new_lst


lst = [10, 11, 12, 13, 14, 15]
print(Reverse(lst))

[15, 14, 13, 12, 11, 10]

**5. Find the maximum and minimum values in a list**

In [ ]:
gfg_list = [10,15,44,9,88,90,2,77,]
# min and max indexes are taken 1st element
# In some cases list might be a single element
min_ele, max_ele = gfg_list[0], gfg_list[0]

for i in range(1, len(gfg_list)):
	if gfg_list[i] < min_ele:
		min_ele = gfg_list[i]

	if gfg_list[i] > max_ele:
		max_ele = gfg_list[i]

print('Minimum Element in the list', gfg_list, 'is', min_ele)
print('Maximum Element in the list', gfg_list, 'is', max_ele)

Minimum Element in the list [10, 15, 44, 9, 88, 90, 2, 77] is 2
Maximum Element in the list [10, 15, 44, 9, 88, 90, 2, 77] is 90

#Conditional statements : If, If-Else, Elif Statements

**1. Python program to check if a given number is positive, negative, or zero.**

In [ ]:
num = float(input("Enter a number: "))
if num >= 0:
   if num == 0:
       print("Zero")
   else:
       print("Positive number")
else:
   print("Negative number")

Enter a number: -5
Negative number

**2.Check if a student's grade is an 'A', 'B', 'C', 'D', or 'F' based on their
test score**

In [ ]:
try:
    marks = float(input("Please enter the marks (0-100): "))

    # Validate the marks are within a plausible range (0-100)

    if 0 <= marks <= 100:
        if marks >= 90:
            grade = 'A'
        elif marks >= 80:
            grade = 'B'
        elif marks >= 70:
            grade = 'C'
        elif marks >= 60:
            grade = 'D'
        else:
            grade = 'F'
        print("Grade:", grade)
    else:
        print("Invalid marks. Please enter a value between 0 and 100.")
except ValueError:
    print("Invalid input. Please enter a numeric value.")

Please enter the marks (0-100): 91
Grade: A

**3. leap year or not leap year**

In [ ]:
import calendar

year = int(input("Enter a year: "))

if calendar.isleap(year):
    print(year, " is a leap year")
else:
    print(year, "is not a leap year.")

Enter a year: 2004
2004  is a leap year

**4.Check if a number is prime or not.**

In [ ]:


num = 11

# If given number is greater than 1

if num > 1:

    # Iterate from 2 to n // 2

    for i in range(2, (num//2)+1):

        # If num is divisible by any number between
        # 2 and n / 2, it is not prime

        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

**5. character is a vowel or a consonant.**

In [ ]:

l = input("Input a letter of the alphabet: ")

# Check if the input letter 'l' is present in the tuple containing vowels ('a', 'e', 'i', 'o', 'u')

if l in ('a', 'e', 'i', 'o', 'u'):

  # Display a message stating that the input letter is a vowel

    print("%s is a vowel." % l)

# If the input letter is 'y', display a message stating that it sometimes represents a vowel and sometimes a consonant

elif l == 'y':

    print("Sometimes the letter y stands for a vowel, sometimes for a consonant.")

# If the input letter doesn't fall into any of the above conditions, it is considered a consonant; display a message stating so
else:

    print("%s is a consonant." % l)

Input a letter of the alphabet: u
u is a vowel.

# Iterative statements : for loop  :

**1. Python program to print the numbers from 1 to 10
using a for loop.**

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**2. sum of all even numbers from 1 to 50 using a
for loop.**

In [ ]:
print("Sum of Even Number using for loop ")

start = int(input("Enter the starting value : "))
end   = int(input("Enter the ending value : "))

result=0

for x in range(start,end):
    if(x % 2 == 0):
        result=result+x


print("Sum of even number is ",result)

Sum of Even Number using for loop
Enter the starting value : 1
Enter the ending value : 50
Sum of even number is  600

**3. Generate a Fibonacci sequence of n terms using a for loop**

In [ ]:
def fibonacci_with_list(n):
	fib_series = [0, 1]
	for i in range(2, n):
		fib_series.append(fib_series[-1] + fib_series[-2])
	return fib_series

# Example usage:
n = 10
result = fibonacci_with_list(n)
print(f"Fibonacci series with {n} elements:", result)

Fibonacci series with 10 elements: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**4.Calculate the factorial of a number using a for loop and a
function.**

In [ ]:
# Python program to find the factorial of a number provided by the user.

# change the value for a different result

num = 20

# To take input from the user
#num = int(input("Enter a number: "))

factorial = 1

# check if the number is negative, positive or zero
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 20 is 2432902008176640000

**5.  find and print all the prime numbers
between 1 and 100**

In [ ]:
minimum = int(input(" Please Enter the Minimum Value: "))
maximum = int(input(" Please Enter the Maximum Value: "))

for Number in range (minimum, maximum + 1):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number, end = '  ')

 Please Enter the Minimum Value: 1
 Please Enter the Maximum Value: 100
 2   3   5   7   11   13   17   19   23   29   31   37   41   43   47   53   59   61   67   71   73   79   83   89   97

#Iterative statements : while loop :

**1.Numbers from 1 to 10
using a while loop.**

In [ ]:
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

**2. . sum of all odd numbers from 1 to 50 using a while loop.**

In [ ]:
# Python Program to Calculate Sum of Odd Numbers from 1 to 100

minimum = int(input(" Please Enter the Minimum Value : "))
maximum = int(input(" Please Enter the Maximum Value : "))
Oddtotal = 0

for number in range(minimum, maximum+1):
    if(number % 2 != 0):
        print("{0}".format(number))
        Oddtotal = Oddtotal + number

print("The Sum of Odd Numbers from {0} to {1} = {2}".format(minimum, maximum, Oddtotal))

 Please Enter the Minimum Value : 1
 Please Enter the Maximum Value : 50
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
The Sum of Odd Numbers from 1 to 50 = 625

**3.  Use a while loop to reverse a given string.**

In [ ]:
name= str((input("Enter the name: ")))
i = len(name) - 1

while i >= 0:
    print(name[i], end = '')
    i = i - 1

Enter the name: htawsa
aswath

**4. find and print all the even numbers
between 1 and 100 using a while loop.**

In [ ]:
num = 1
while num <= 100:
    if num % 2 == 0:
        print(num)
    num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# Iterative statements : Nested for loop

**1.  multiplication table (1 to 10) using nested for loops.**

In [ ]:
max_number = 10

for i in range(1, max_number + 1):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j, "\n")
print("\n")

**2.square pattern of a specified size using asterisks.**

In [ ]:
# No of rows
n = 4

# Loop through rows
for i in range(n):

    # Loop to print pattern
    for j in range(n):
        print("*", end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

**3. pattern of asterisks in the form of a right-angled
triangle**

In [ ]:
rows = int(input("Please Enter the Total Number of Rows  : "))

print("Right Angled Triangle Star Pattern")
i = 1
while(i <= rows):
    j = 1
    while(j <= i):
        print('*', end = '  ')
        j = j + 1
    i = i + 1
    print()

Please Enter the Total Number of Rows  : 5
Right Angled Triangle Star Pattern
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

**4. a pattern of numbers in the form of a right-angled triangle.::**

In [ ]:
n = int(input("enter number of row needed:"))
for row in range(n):
    for colum in range(row + 1):
        print(colum+1, end=' ')
    print()

enter number of row needed:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**5. pattern of alphabets in the form of an equilateral
triangle:**

In [ ]:
word = "PYTHON"
x = ""
for i in word:
    x += i
    print(x)

P
PY
PYT
PYTH
PYTHO
PYTHON

** 6. program to create a pyramid pattern using asterisks.**